[ng-cloak] {
    display: none;
}

.buttonRedondo {
    background-color: #0a4da2;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.buttonRedondo:hover {
    background-color: #083a82;
    color: white;
}

.buttonRetangular {
    background-color: #0a4da2;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.buttonRetangular:hover {
    background-color: #083a82;
    color: white;
}

.textPrincipal {
    color: white;
    font-family: Arial, sans-serif;
}

.containerRedondo {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    border: 1px solid black;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 5px;
}

input[type="number"] {
    width: 40%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 5px;
}

.password-container {
    position: relative;
    width: 100%;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 5px;
}

.password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #000;
}

body {
    background-color: #dddddd;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0a4da2;
    color: white;
    position: relative;
    width: 100%;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.home h1 {
    font-size: 27px;
}

.home h2 {
    font-size: 20px;
}

.headerDivisor {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
}

.right {

}

select {
    width: 40%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 5px;
}

label {
    margin-bottom: -5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}
th, td {
    border: 1px solid #000000;
    padding: 12px;
    text-align: center;
    background-color: #ffffff;
}
th {
    background-color: #ffffff;
    font-weight: bold;
}
td input {
    border: none;
    width: 100%;
    text-align: left;
    font-size: 1em;
    padding: 10px;
}

.perfil-foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #d4c7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
}
.perfil-foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-picture {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.profile-picture:hover {
    cursor: pointer;
}

.profile-picture-big {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    margin: 40px;
}

.logoutButton {
    margin-top: 20px;
    width: 60px;
    height: 30px;
    background-color: #FF4D4D;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: #000;
}

.bodyHome {
    width: auto;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

.cainput {
    padding: 6px;
    display: flex;
    flex-flow: column;
}

.body30 {
    width: 30%;
    padding-right: 6px;
}
.body70 {
    width: 70%;
    background-color: #dddddd;
    padding: 5px;
    border-radius: 25px;
    height: 500px;
    overflow-y: auto;
    /*border: 1px solid #ccc;*/
}

select {
    width: 100%
}

.price-slider {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    padding-right: 6px;
    padding-left: 6px;
}

.min-max, .values {
    display: flex;
    justify-content: space-between;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: #0a4da2;
    border-radius: 50%;
    cursor: pointer;
}


.loader {
    width: 50px;
    aspect-ratio: 1;
    display:grid;
    -webkit-mask: conic-gradient(from 15deg,#0000,#000);
    animation: l26 1s infinite steps(12);
}
.loader,
.loader:before,
.loader:after{
    background:
            radial-gradient(closest-side at 50% 12.5%,
            #81D4FAFF 96%,#0000) 50% 0/20% 80% repeat-y,
            radial-gradient(closest-side at 12.5% 50%,
            #81D4FAFF 96%,#0000) 0 50%/80% 20% repeat-x;
}
.loader:before,
.loader:after {
    content: "";
    grid-area: 1/1;
    transform: rotate(30deg);
}
.loader:after {
    transform: rotate(60deg);
}

@keyframes l26 {
    100% {transform:rotate(1turn)}
}

